<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container-xl px-1 mt-5">
  <div class="row row-cols-1 row-cols-md-5 g-4 mx-auto">
    <div class="col-lg-7 p-4">
      <h2 class="font-weight-bold">Little about us,</h2>
      <h4 class="title mb-4 text-muted">
        Our mission is to make your life easier.
      </h4>
      <p class="text-muted">
        Blooms aim to bring you somthing beautiful, stylish and unnique,
        something a little bit different for your special event.
      </p>
      <p class="text-muted mb-4">
        We specialise in providing stuning flowers using a personal and tailor
        made approach that ensures each person come to us gets exactly what they
        want and more!
      </p>
      <div class="row">
        <h4 class="title">Waiting for you</h4>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="media align-items-center rounded shadow p-3">
            <div class="row">
              <div class="col-1">
                <i class="fas fa-map-marker-alt h4 mb-0 text-custom"></i>
              </div>
              <div class="col">
                <h6 class="ml-3 mb-0">Central district, 71269</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="media align-items-center rounded shadow p-3">
            <div class="row">
              <div class="col-1">
                <i class="fas fa-phone h4 mb-0 text-custom"></i>
              </div>
              <div class="col">
                <h6 class="ml-3 mb-0">+314-687-5503</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-5 p-3 ml-5">
      <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
        <img src="images/about_us_background.jpg" class="img-fluid rounded-sm" alt="Image" width="400" height="400" />
      </div>
    </div>
  </div>
</div>