<head>
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css?a=1" />
</head>

<div class="row row-cols-1 g-4 mx-auto">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Do you have any questions? Please do not hesitate to contact us
        directly.
        Our team will come back to you within a matter of hours to help you.
    </p>

    <div class="d-flex p-2">
        <div class="col-md-12 mb-md-0 mb-5" .flex-column>
            <form id="contact-form" name="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="mb-3">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control ">
                            <label for="subject" class="mb-3" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control
                                    md-textarea"></textarea>
                            <label for="message" class="mb-3">Your message</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-grid gap-2 col-2 mx-auto">
                <button class="btn custom-outlined-btn"
                    onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
    </div>
</div>