<script src="javascripts/utils.js"></script>
<script src="javascripts/addFlower.js"></script>

<script>
    $('#flowers_cards_div').ready(function () {
        (async function () {
            let flowers_cards = document.getElementById('flowers_cards_div');
            let response = await fetchData('/flowers/data');
            let flowers = await response.json();
            flowers.forEach(function (flower, index) {
                let columnDiv = document.createElement('div');
                columnDiv.className = 'col';
                let cardDiv = document.createElement('div');
                cardDiv.className = 'card text-center h-300';
                let image = document.createElement('img');
                image.setAttribute('src', flower.image);
                image.className = 'card-img-top';
                let bodyDiv = document.createElement('div');
                let name = document.createElement('h5');
                name.className = 'card-title custom-header';
                name.innerText = flower.name;
                let price = document.createElement('p');
                price.innerText = flower.price + '$';
                price.className = 'custom-btn w-150 mx-auto';
                let color = document.createElement('span');
                color.className = 'dot';
                color.style = 'background-color:' + flower.color;

                bodyDiv.append(name, price, color);
                cardDiv.append(image, bodyDiv);
                columnDiv.appendChild(cardDiv);
                flowers_cards.appendChild(columnDiv);
            });
        })();
    });
</script>



<!-- Header -->
<div class="jumbotron text-center">
    <h3 class="display-6">
        Flowers
        <button class="btn" onClick="window.location.reload();">
            <i class="fa fa-refresh"></i>
        </button>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#AddFlowerModal">
            <i class="fa fa-plus"></i>
        </button>
    </h3>
    <div id="flowers_cards_div" class="row row-cols-1 row-cols-md-5 g-4 mx-auto">
    </div>
</div>

<!-- Add Flower Modal -->
<div class="modal fade" id="AddFlowerModal" tabindex="-1" role="dialog" aria-labelledby="addFlowerModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFlowerModal">Add Flower</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addFlowerForm">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input id="name" type="text" class="form-control" name="name" placeholder="Name" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Color</label>
                        <input id="color" type="text" class="form-control" name="color" placeholder="Color" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input id="price" type="text" class="form-control" name="price" placeholder="Price" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input type="text" placeholder="Image url, example: http://example.com/foldername/image.png"
                            class="form-control" id="image-url" name="imageUrl" />
                        OR
                        <input type="file" placeholder="Image" class="form-control-file" id="image"
                            accept="image/png, image/jpeg, image/jpg, image/gif" name="image" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addFlower()" data-bs-dismiss="modal" class="btn custom-btn">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>