<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
  <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css?a=1" />
  <script src="javascripts/login.js"></script>
  <script src="javascripts/logout.js"></script>
  <script src="javascripts/signup.js"></script>
  <script src="javascripts/forgotPassword.js"></script>
  <script src="javascripts/utils/jsencrypt.min.js"></script>
  <script src="javascripts/utils/encryption.js"></script>

  <script>
    $(document).ready(function () {
      // Load navigation 
      $('#navigation_bar').load('/navigation');

      // Load initial body
      if (!location.hash)
        $('#body').load('/about_us');

      // Initialization login - logout button, and signUp button handling
      if (sessionStorage.getItem('loggedIn') == 'true') {
        $('#logout_btn').show();
        $('#personal_area').show();
        $('#signup_btn').hide();
        $('#login_btn').hide();
      } else {
        $('#logout_btn').hide();
        $('#signup_btn').show();
        $('#login_btn').show();
        $('#personal_area').hide();
      }

      // Personal area button handling
      $('#personal_area_btn').click(
        function () {
          $('li a').removeClass('active');
          $('#body').load('users/personal_area');
        }
      );

      if (location.hash == '#personal_area') {
        $('#body').load('users/personal_area');
      }
    });
  </script>
</head>

<body>
  <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- logo -->
        <img src="images/logo.png" class="img-fluid">

        <!-- menu -->
        <div id="navigation_bar" class="me-auto"></div>

        <!-- Login - Logout button -->
        <ul class="navbar-nav">
          <li id="signup_btn" class="nav-item me-3">
            <button class="btn custom-outlined-btn" data-bs-toggle="modal" data-bs-target="#signUpForm"
              data-backdrop="static">Sign Up</button>
          </li>
          <li id="login_btn" class="nav-item me-3">
            <button class="btn custom-outlined-btn" data-bs-toggle="modal" data-bs-target="#logInForm"
              data-backdrop="static">Log In</button>
          </li>
          <li id="logout_btn" class="nav-item me-3">
            <button class="btn custom-outlined-btn" onclick=logout()>Log Out</button>
          </li>
          <li id="personal_area" class="nav-item me-3">
            <a id="personal_area_btn" class="btn custom-outlined-btn" href="#personal_area">
              <i class="fa fa-user"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <!-- Body -->
  <div id="body"></div>

  <!-- Login modal -->
  <div class="modal fade" id="logInForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa
                fa-unlock-alt"></i> Log In</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form">
            <div class="mb-3">
              <label class="form-label">Email Address</label>
              <input id="username" type="text" class="form-control" name="username" placeholder="Username" />
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input id="password" type="password" class="form-control" name="password" placeholder="Password" />
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" onclick="login()" class="btn custom-btn">
                Log In
              </button>
            </div>
            <div class="d-grid mt-3 float-end">
              <a id="forgotPasswordBtn" type="link" onclick="showForgotPasswordModal()" data-bs-dismiss="modal"
                data-bs-toggle="modal" data-bs-target="#forgotPasswordForm" data-backdrop="static"
                class="custom-text-btn">
                Forgot your password?
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- SignUp modal -->
<div class="modal fade" id="signUpForm" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SignUpModalLabel"><i class="fa
              fa-user-plus"></i> Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="signupform">
          <div class="mb-3">
            <label class="form-label">Email Address</label>
            <input id="signupusername" type="text" class="form-control" name="username" placeholder="Username" />
          </div>
          <div class="mb-3">
            <label class="form-label">Role</label>
            <select id="signuprole" name="role" class="form-select" aria-label="Default select example">
              <option value="client" selected>Client</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input id="signuppassword" type="password" class="form-control" name="password" placeholder="Password" />
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" onclick="signup()" class="btn custom-btn">
              Sign Up </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

<!-- Forgot Password modal -->
<div class="modal fade" id="forgotPasswordForm" tabindex="-1" aria-labelledby="forgotPasswordModalLabel"
  data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel"><i class="fa fa-cog"></i> Reset Password</h5>
        <i type="button" class="fa fa-arrow-right" onclick="hideForgotPasswordModal()" data-bs-dismiss="modal"
          aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <form id="passwordform">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <div class="row">
              <div class="col-md-10">
                <input id="resetUsername" type="text" class="form-control" name="userName" placeholder="Username" />
              </div>
              <div class="col align-self-center">
                <i id="resetEmailButton" class="fa fa-toggle-right fa-2x mt-1" onclick="sendEmail()"></i>
              </div>
            </div>
          </div>
        </form>
        <form id="resetPasswordForm">
          <div>
            <p class="text-muted mb-4">
              After you will enter your details and submit,
              you'll recieve a passcode in order to reset your login password.
            </p>
          </div>
          <div>
            <input id="passCode" type="text" class="form-control mb-3" name="passCode"
              placeholder="Recieved passcode" />
          </div>
          <div>
            <input id="newPassword" type="password" class="form-control mb-3" name="newPassword"
              autocomplete="new-password" placeholder="New password" />
          </div>
          <div>
            <input id="repeatNew" type="password" class="form-control mb-4" name="repeatNew" autocomplete="new-password"
              placeholder="Repeat new password" />
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" onclick="resetPassword()" class="btn custom-btn">
              Reset password </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Loading modal -->
<div class="modal" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" id="loadingBackdrop2">
    <div class="spinner-border text-dark"></div>
  </div>
</div>

<!-- Success modal -->
<div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="successModalLabel">Success</h5>
        <i class="fas fa-check-circle text-success"></i>
      </div>
      <div class="modal-body">
        Successfuly preforming the action. <br />
      </div>
    </div>
  </div>
</div>

<!-- Error modal -->
<div class="modal fade" id="errorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="errorModalLabel">Error</h5>
        <i class="fas fa-exclamation-circle text-danger"></i>
      </div>
      <div class="modal-body">
        Problem preforming the action. <br />
        Please refresh and after try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="location.reload();">
          Refresh
          <i class=" fas fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>

</html>